* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	padding: 10px;
}
@media (min-width: 768px){
	.navbar-toggler
	{
		display: none;
	}
}
.navbar-collapse {
	text-align: center;
}
.boxx {
	background: lightgrey;
	padding: 15px;
	min-height: 1200px;
}